.fondo{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(250, 237, 248) 0%, rgb(245, 176, 208) 35%, rgb(186, 238, 248) 100%);
}

.baner{
    background-image: url(./img/banner3.jpg);
    padding: 25%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.baner::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    opacity: 0.5;
    z-index: -1;
}

.navbar{
    background-color: #f0779f;
}

.banerempl{
    background-image: url(./img/banner4.jpg);
    padding: 25%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;}

    .baner::after{
        content: "";
        position: absolute;
        background-color: black;
        height: 100%;
        width: 100%;
        top:0;
        left:0;
        opacity: 0.5;
        z-index: -1;
    
}